<div class="row">
  <div class="col-md-10 col-md-offset-1" *ngIf="!cargando">
    <div style="margin: auto;">
      <div class="col-md-12">
        <h2><b>{{ tittle }}</b></h2>
        <br>
        <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton (click)="back()"
          data-toggle="tooltip" style="right: 0; margin-right: 0; display: flex; float: right;top:0">Regresar</button>
        <br><br>
      </div>
      <div class="col-md-12 contenedor">
        <h3><b>Ingrese la Informacion del Tecnico</b></h3>
        <div class="col-md-3">
          <label>Nombre:</label>
          <input type="text" pInputText class="form-control" maxlength="50" placeholder="Ingrese el Nombre"
            onkeydown="return /([A-Za-z]+)/i.test(event.key)" [(ngModel)]="tecnico.nombre" />
        </div>
        <div class="col-md-3">
          <label>Código:</label>
          <input type="text" pInputText class="form-control" maxlength="10"
            onkeydown="return /([A-Za-z0-9]+)/i.test(event.key)" placeholder="Ingrese el Codigo"
            [(ngModel)]="tecnico.codigo" />
        </div>
        <div class="col-md-3">
          <label>Sueldo:</label>
          <input type="text" pInputText class="form-control" size="40" placeholder="Ingrese el sueldo"
            [(ngModel)]="tecnico.sueldo" />
        </div>
        <div class="col-md-3">
          <label>Sucursal:</label>
          <p-dropdown required="true" filter="filter" [options]="Sucursales" [style]="{'width':'100%'}"
            placeholder="Seleccione una Sucursal" [(ngModel)]="item2" #NGsucursal="ngModel"
            (onChange)="validatesucu($event)"></p-dropdown>
        </div>
        <div class="col-md-12 subcontenedor">
          <h3><b>Elementos Asginados</b></h3>
          <div class="col-md-10">
            <div class="col-md-4">
              <label>Nombre:</label>
              <p-dropdown required="true" filter="filter" [options]="Elementos" [style]="{'width':'100%'}"
                placeholder="Seleccione un Elemento" [(ngModel)]="item" #NGelemnom="ngModel"
                (onChange)="validate($event)"></p-dropdown>
            </div>
            <div class="col-md-4">
              <label>Código:</label>
              <input type="text" pInputText class="form-control" maxlength="10" placeholder="Ingrese el codigo"
                [(ngModel)]="elemento.codigo" disabled />
            </div>
            <div class="col-md-4">
              <label>Cantidad:</label>
              <input type="text" pInputText class="form-control" maxlength="2" max="10" placeholder="Ingrese Dato"
                [(ngModel)]="elemento.cantidad" />
            </div>
          </div>
          <div class="col-md-2">
            <label></label>
            <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton
              (click)="agregar('edit')" data-toggle="tooltip" *ngIf="valedit">Editar</button>
            <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton
              (click)="agregar('add')" data-toggle="tooltip" *ngIf="!valedit">Agregar</button>
            <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton (click)="clear()"
              data-toggle="tooltip">limpiar</button>
          </div>
          <div class="col-md-12">
            <br><br>
            <p-table [columns]="columnas" [value]="listaElementosasig" [paginator]="true" [rows]="10"
              paginatorPosition="bottom" [loading]="cargandoelements" [responsive]="true"
              [tableStyle]="{'margin': 'auto'}">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
                    class="text-center col-header">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row">
                  <td class="block text-center col-column">{{ row.nombre }}</td>
                  <td class="block text-center col-column">{{ row.codigo }}</td>
                  <td class="block text-center col-column">{{ row.cantidad }}</td>
                  <td class="block text-center col-column">
                    <button type="button" icon="fa fa-pencil" class="succesbutton" data-toggle="tooltip" title="Editar"
                      pButton (click)="edit(row.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="columnas.length" class="text-center" style="font-size: 1.5em;">No Hay Datos Para
                    Mostrar
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br>
        <div class="col-md-3 col-md-offset-3">          
        <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton (click)="submit()"
        data-toggle="tooltip" style="margin: auto; display: flex;">Guardar</button>
        </div>
        <div class="col-md-3">   
        <button class="succesbutton" icon="fa fa-plus" label="Cancelar" type="button" pButton (click)="back()"
          data-toggle="tooltip" style="margin: 1% auto; display: flex;">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1" *ngIf="cargando">
    <div style="margin: auto;text-align: center;">
      <h2><b>Cargando Vista</b></h2>
      <br>
      <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 2em;"></i>
    </div>
  </div>

</div>