@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1.5em;
}

.principal {
    background-color: #0062ff;
    max-height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.bodytech {
    margin-top: 10vh;
}


.col-header {
    border: #000 1px solid;
    color: #fff;
    background-color: #0062ff;
    text-overflow: ellipsis;
    overflow: hidden;
}

.col-column {
    border: 1px solid;
    text-overflow: ellipsis;
    background-color: #94bdff;
    overflow: hidden;
}

.succesbutton {
    min-width: 2vw;
    min-height: 2vw;
    border-radius: 0.5vw;
    background: #0062ff;
    color: #fff;
    font-size: large;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.succesbutton:hover {
    background-color: #94bdff;
    color: #000;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-icon {
    color: #0062ff;
    cursor: pointer;
}

.contenedor {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2em;
    background-color: #fff;
    padding: 1em;
}

.subcontenedor {
    margin-top: 1%;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2em;
    background-color: rgb(187, 187, 187);
    padding: 0.5em;
}

.ui-dropdown {
    background-color: #fff;
    padding: 0.4em !important;
    border-radius: 0.2em
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    background-color: #fff;
}

.ui-dropdown-panel .ui-dropdown-item:hover {
    background-color: #94bdff;
}


/** -- Notificaciones Globales -- */
#msgNotificacion {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 99%;
    margin: 6px;
}

#msgNotificacion>.p-messages {
    border-width: 4px;
    -webkit-box-shadow: 4px 4px 8px -2px #242424;
    -moz-box-shadow: 4px 4px 8px -2px #242424;
    -o-box-shadow: 4px 4px 8px -2px #242424;
    box-shadow: 4px 4px 8px -2px #242424;

    text-align: center;
}

.ui-messages {
    background-color: #ffd900c8;
}

#msgNotificacion>.p-message.p-message-error .p-message-close {
    color: #721c24 !important;
}

#msgNotificacion>.p-message.p-message-error button:hover {
    background-color: transparent !important;
}

#msgNotificacion>.p-message.p-message-error button:hover.p-message-close {
    color: #fff !important;
}