@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* You can add global styles to this file, and also import other style files */

body {
    font-size: 1.5em;
}

.principal {
    background-color: #0062ff;
    max-height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.bodytech {
    margin-top: 10vh;
}


.col-header {
    border: #000 1px solid;
    color: #fff;
    background-color: #0062ff;
    text-overflow: ellipsis;
    overflow: hidden;
}

.col-column {
    border: 1px solid;
    text-overflow: ellipsis;
    background-color: #94bdff;
    overflow: hidden;
}

.succesbutton {
    min-width: 2vw;
    min-height: 2vw;
    border-radius: 0.5vw;
    background: #0062ff;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-icon {
    color: #0062ff;
    cursor: pointer;
}